.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.absolute{
  position: absolute !important;
}

.center-content, .center-content-spaced{
  display: flex;
}

.center-content{
  justify-content: center;
}

.center-vertical{
  align-items: center;
}

.center-content-spaced{
  justify-content: space-between;
}

.blue{
  background-color: #4acec4;
}

.green{
  background-color: #d6e168;
}

.red{
  background-color: tomato;
}

.padding0{
  padding: 0 !important;
}

.laydown{
  transform: rotateX(58deg) rotateY(10deg) rotateZ(-48deg);
  /*border-radius: 25%;*/
}

.popup{
  margin: -42% 0;
}

.arrow{
  align-self: center;
  cursor: pointer;
}

.arrow.right{
  padding-right: 50%;
}

.arrow.right img{
  transform: rotate(90deg);
  width: 100%;
}

.arrow.left{
  padding-left: 50%;
}

.arrow.left img{
  transform: rotate(270deg);
  width: 100%;
}

.arrow.down{
  padding: 10% 10% 0 10%;
}

.arrow.down img{
  transform: rotate(180deg);
  width: 100%;
}

.arrow.up{
  padding: 0 10% 10% 10%;
}

.arrow.up img{
  transform: rotate(0deg);
  width: 100%;
}

.arrow.right:hover, .arrow.left:hover{
  animation-name:'hvr-icon-wobble-horizontal';
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.arrow.down:hover, .arrow.up:hover{
  animation-name:'hvr-icon-wobble-vertical';
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.cover{
  background-color: white;
  background-image: url(./css/images/spot.png);
  background-position: 58.33%;
  background-size: 84.34%;
  background-repeat: no-repeat;
}

.big-text{
  font-family: 'LEVIREBRUSHED';
  font-size: 5.5em;
  color: #4acec4;
  line-height: 1em;
}

.concept-text{
  font-family: 'Aller_Std_Bd';
  font-size: 0.76em;
  color: #4acec4;
  line-height: 1.1em;
}

#root {
  resize: both;
  position: relative;
  background: #666;
}

#app {
  width: 1024px;
  height: 768px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  overflow: hidden;
  text-align: center;
  background: white;
}

.menu .col{
  height:200px;
}

.posterContainer{
  padding: 0 5% !important;
  overflow: hidden;
  height: 100%;
}

.menu .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
 
  line-height:20px;
}
.menu .flex-item {
  margin: 3% 5%;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  flex: 1 0 auto;
  height:auto;
  border-radius: 10%;
  box-shadow: 0em 0.3em 1.4em -0.3em #000;
}

.menu .flex-item:before {
  content:'';
  float:left;
  padding-top:70%;
}

.text-right{
  text-align: right;
}

.box {
  display: block;
  float:left;
  cursor: pointer;
  position: relative;
  width: 7.5%;
  height: 100%;
  background-color: #B2DBBF;
  will-change: transform;
}

.pablo{
  background-color: #c75464;
}

.book-bg img{
  width: 125%;
  margin-top: 5%;
  margin-left: -70%;
}

.book-bg-2 img{
  width: 100%;
  margin-top: 25%;
}

.trazo12-container{
  padding-top: 25%;
}

.trazo12-container > div{
}

.dustchys{
  background-image: url(./css/images/dustchys/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.dustchys2{
  background-image: url(./css/images/dustchys/store.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.contact{
  background-color: #bcd64f;
}

.contact-list-item{
  color:white;
}

.contact-list-item:hover{
  text-decoration: none;
}

.contact-list-item > div.text{
  text-align: left;
  padding: 3% 0 0 0;
}

.contact-list-item > div.icon{
  font-size: 2em;
  vertical-align: middle;
  text-align: center;
}

.witch{
  background-image: url(./css/images/witch/bg.png);
  background-size: cover;
  background-position: 50% 27%;
  background-repeat: no-repeat;
}

.witch2, kotta2{
  background-color: #f7f7f7;
}

.witch2 .trazo{
  border-bottom-left-radius:6% 12%;
  border-bottom-right-radius: 6% 12%;
  border-top-left-radius:6% 12%;
  border-top-right-radius:6% 12%;
  width: 100%;
}

.witch2 .trazo3{
  border-bottom-left-radius:4% 12%;
  border-bottom-right-radius: 4% 12%;
  border-top-left-radius:4% 12%;
  border-top-right-radius:4% 12%;
  width: 100%;
  margin: 5% 0;
}

.kotta{
  background-image: url('./css/images/kotta/bg.png');
  background-size: cover;
  background-position: 50% 27%;
  background-repeat: no-repeat;
}

.kotta2{
  background-color: #f7f7f7;
}